*.csproj
*.conf
*.xml
*.sln
.vsconfig
.collabignore
ignore.conf
*.json
*.asset
*.txt
*.cache
*.config
*.log
*.catalog
*.bin
*SourceAssetDB*
expandedItems
*.db
*.st
*.pdb
*.dll
*.dwlt
*.yaml
*.resS
*.assets
*.resource
EditorEncounteredVariants
ScriptMapper
level0
level1
level2
*.md5
ProjectCache
unity_builtin_extra
globalgamemanagers
*.md*
*.png
*.signal*
*.prefab*
*.shader
*.mat
*.asmdef*
*.fbx
*.mp3
*.flac
*.jpg
*.cginc
*.unity
*.tga
*.controller
*.anim
*.psd